
<h2>New Books</h2>
<!-- multer모듈을 사용하기 위해 enctype="multipart/form-data" 설정했는데, File encode적용이후 enctype 제거-->
<form action="/books" method="POST" > 
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>
